
<body>

    <section id="page-header" class="blog-header">
        <h2>#readmore</h2>
        <p>Read all case studies about our products!</p>
    </section>

    <section id="blog">
        <div class="container blog-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-img">
                        <img class="poi-img" src="img/blog/b1.jpg" alt="">
                        <h1>6/12</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-details">
                        <h4>The Cotton-Jersey Zip-up Hoodie</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed voluptate incidunt
                            deleniti labore eaque nostrum reiciendis obcaecati. Numquam harum maxime doloribus quod
                            ea veniam ab odio in, ad autem...</p>
                        <a href="#">CONTINUE READING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blog-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-img">
                        <img class="poi-img" src="img/blog/b2.jpg" alt="">
                        <h1>4/12</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-details">
                        <h4>How to Style a Quiff</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed voluptate incidunt
                            deleniti labore eaque nostrum reiciendis obcaecati. Numquam harum maxime doloribus quod
                            ea veniam ab odio in, ad autem...</p>
                        <a href="#">CONTINUE READING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blog-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-img">
                        <img class="poi-img" src="img/blog/b3.jpg" alt="">
                        <h1>1/12</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-details">
                        <h4>Must-Have Skater Girl Items</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed voluptate incidunt
                            deleniti labore eaque nostrum reiciendis obcaecati. Numquam harum maxime doloribus quod
                            ea veniam ab odio in, ad autem...</p>
                        <a href="#">CONTINUE READING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blog-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-img">
                        <img class="poi-img" src="img/blog/b4.jpg" alt="">
                        <h1>29/11</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-details">
                        <h4>Runway-inspired Trends</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed voluptate incidunt
                            deleniti labore eaque nostrum reiciendis obcaecati. Numquam harum maxime doloribus quod
                            ea veniam ab odio in, ad autem...</p>
                        <a href="#">CONTINUE READING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blog-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-img">
                        <img class="poi-img" src="img/blog/b6.jpg" alt="">
                        <h1>28/11</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-details">
                        <h4>AW20 Menswear Trends</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed voluptate incidunt
                            deleniti labore eaque nostrum reiciendis obcaecati. Numquam harum maxime doloribus quod
                            ea veniam ab odio in, ad autem...</p>
                        <a href="#">CONTINUE READING</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign up</button>
        </div>
    </section>


</body>
